@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-base text-content-primary font-sans antialiased;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #080C0E;
}

::-webkit-scrollbar-thumb {
  background: #1A2026;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2C3840;
}
